@font-face {
    font-family: 'Emilea';
    src: url('Emilea.woff2') format('woff2'),
        url('Emilea.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Emilea';
    src: url('Emilea.woff2') format('woff2'),
        url('Emilea.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

